.container.inline {
  width: 100%;
  box-shadow: none;
}

.days-grid {
  row-gap: none;
}

.container {
  font-family: "Inter", sans-serif;
}

.calendar > .days-grid > .day {
  max-width: none;
  width: auto;
}

.day.start {
  border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.day.end {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

:host {
  --color-bg-inrange: #f6f7ff;
  --color-fg-primary: #0022f9;
  --color-fg-accent: #0022f9;
}

.container.range-plugin .calendar > .days-grid > .day.end,
.container.range-plugin .calendar > .days-grid > .day.start {
  border-radius: 50px;
}
