.container.inline {
  width: 100%;
  box-shadow: none;
}

.days-grid {
  row-gap: 0;
}

.container {
  font-family: "Inter", sans-serif;
}

.calendar > .days-grid > .day {
  max-width: none;
  width: auto;
}

.day.start {
  border-bottom-left-radius: 50px!important;
  border-top-left-radius: 50px!important;
}

.day.end {
  border-top-right-radius: 50px!important;
  border-bottom-right-radius: 50px!important;
}

:host {
  --color-bg-inrange: #f6f7ff;
  --color-fg-primary: #0022f9;
  --color-fg-accent: #0022f9;
}
